.apps_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 110px;
}

.apps_section .app{
    text-decoration: none;
    height: auto;
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 12px;
    margin: 20px;
}

.apps_section .app img{
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
    .apps_section .app{
        width: 90%;
        margin: 20px auto;
    }
}