*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    color: black;
}

html{
    scroll-behavior: smooth;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.title{
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
}


/* header */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10000;
    background-color: yellow;
    /* line-height: 70px; */
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo #tog{
    height: 43px;
    width: 43px;
    background: transparent;
    border: 2px solid #cdababc7;
    border-radius: 10px;
    font-size: 25px;
    display: none;
}

header .logo a{
    font-size: 50px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

header .menu{
    width: 70%;
}

header .menu ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
}

header .menu ul li{
    margin-left: 20px;
}

header .menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
}
/* header end */


/* banner */
.banner{
    /* background-image: url('../assets/img/banner.jpg'); */
    /* background: url('../assets/img/our_gallery/gallery3.jpg'); */
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.589);
    /* z-index: -1; */
}

.banner .container{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 200%;
    height: 100%;
    margin: 0 auto;
}

.banner .container h1, .banner .container h2{
    color: white;
}

.banner .container h1{
    font-size: 120px;
}
/* banner end */

/* about */
.about .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .container .left{
    width: 40%;
}

.about .container .left .img-frame{
    width: 90%;
    height: 310px;
    background-color: gray;
    border-radius: 25px;
    padding: 15px;
}

.about .container .left .img-frame img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.about .container .right{
    width: 60%;
}
/* about end */


/* members */
.members .members-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.members .members-list .member{
    width: 28%;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    background-color: yellow;
    color: black;
    text-align: center;
}

.members .members-list .member .img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.members .members-list .member .img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.members .members-list .member .name{
    margin: 20px 0;
    font-size: 28px;
}

.members .members-list .member .name h3{
    font-weight: bold;
}

.members .members-list .member .post{
    margin: 20px 0;
    font-size: 20px;
}

.members .members-list .member .link{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.members .members-list .member .link a{
    text-decoration: none;
    padding: 8px;
    font-size: 20px;
    color: white;
    border-radius: 20px;
}

.members .members-list .member .link i{
    color: white;
}

.members .members-list .member .link a:first-child{
    background-color: blue;
}

.members .members-list .member .link a:last-child{
    background-color: black;
}
/* members end */



/* projects */
.projects .project-box{
    position: relative;
    height: 100%;
    overflow: hidden;
}

.projects .project-box img{
    width: 100%;
    height: 600px;
    transition: 0.5s linear;
}


.project-inner{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s linear;
}
.project-inner-text{
    position: absolute;
    bottom: -681px;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s linear;
    z-index: 555555555;
    width: 100%;
}

.project-inner h1{
    color: white;
    font-size: 77px;
    font-weight: bold;
}

.project-inner h2 a{
    background-color: yellow;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

.projects .project-box:hover .project-inner{
    height: 100%;
}

.projects .project-box:hover .project-inner-text{
    bottom: -24px;
    opacity: 1;
    visibility: visible;
}

.projects .project-box:hover img{
    transform: scale(1.2);
    transform-origin: center;
}

/* projects end */

/* footer */
footer{
    background-color: #101010;
    padding: 30px 0;
    margin-top: 30px;
    border-radius: 80px 80px 0 0;
}

footer .upper-footer{
    text-align: center;
}

footer .upper-footer h1{
    font-weight: bolder;
    color: white;
}

footer .upper-footer h3{
    color: white;
}

footer .upper-footer .links ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

footer .upper-footer .links ul li{
    margin: 0 20px;
}

footer .upper-footer .links ul li a i{
    color: white;
    text-decoration: none;
    font-size: 28px;
    padding: 12px;
    border: 1.5px solid white;
    border-radius: 12px;
}

footer hr{
    color: white;
}

footer .lower-footer h4{
    text-align: center;
    color: white;
}
/* footer end */



/* responsive */
@media screen and (max-width:500px) {
    header .container{
        display: block;
    }

    header .logo{
        width: 100%;
    }

    header .logo #tog{
        display: initial;
        height: 50px;
        width: 50px;
        font-size: 30px;
    }

    header .menu{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: yellow;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.5s linear;
    }

    header .menu.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .menu ul{
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    header .menu ul li{
        margin: 35px 0;
    }

    .banner{
        margin-top: 75px;
        height: 36vh;
        background-position: top center;
        background-attachment: initial;

    }
    .banner .container h1{
        font-size: 35px;
    }


    .about .container{
        display: block;
    }

    .about .container .left, .about .container .right{
        width: 100%;
        text-align: center;
    }

    .about .container .left .img-frame{
        width: 100%;
        height: 210px;
        margin-bottom: 20px;
    }


    .members .members-list{
        display: block;
    }

    .members .members-list .member{
        width: 100%;
        margin: 20px auto;
    }


    .projects .project-box img{
        height: 200px;
    }

    .project-inner h1{
        font-size: 27px;
        text-align: center;
        margin-bottom: 20px;
    }


    footer{
        border-radius: 50px 50px 0 0;
    }

    footer .upper-footer .links ul{
        padding: 0;
    }

    footer .upper-footer .links ul li {
        margin: 0 10px;
    }

    footer .lower-footer h4{
        font-size: 18px;
    }
    
}
/* responsive end */